
.fform-wrapper, .fform-layout, .fform-body, .fform-array-item, .fform-radio, .fform-flex, .fform-viewer {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    align-items: stretch;
    margin: 0;
}


.fform-title, .fform-radio-label {
    margin-right: 1em;
}


.fform-title-viewer {
    margin-bottom: 0;
}

.fform-title-viewer:after {
    content: "";
}

.fform-title-viewer-inverted {
    font-weight: bold;
    margin-bottom: 0;
}

.fform-required:after {
    content: " *";
}

.fform-viewer {
    margin-right: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.fform-viewer-inverted {
    margin-right: 1em;
    font-weight: normal;
    margin-bottom: 1.5em;
}

.fform-hidden {
    display: none !important;;
}

.fform-inline {
    flex-direction: row !important;;
}

.fform-shrink {
    flex-grow: 0 !important;
}

.fform-expand {
    flex-grow: 10 !important;;
}

.fform-wrap {
    flex-wrap: wrap !important;;
}


