.fform-title, .fform-radio-label {
    margin-right: 1em;
}


.fform-title-viewer {
    margin-bottom: 0;
}

.fform-title-viewer:after {
    content: "";
}

.fform-title-viewer-inverted {
    font-weight: bold;
    margin-bottom: 0;
}

.fform-required:after {
    content: " *";
}

.fform-viewer {
    margin-right: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.fform-viewer-inverted {
    margin-right: 1em;
    font-weight: normal;
    margin-bottom: 1.5em;
}


.fform-button {
    background: #fff;
    color: #888;
    border: 1px solid #ccc;
    border-radius: .2em;
    padding: 0.3em 0.8em;
    flex-grow: 1;
}

.fform-button:disabled {
    background: #fff;
    color: #c0c0c0;
    cursor: not-allowed;
}

.fform-button:hover {
    background: #f5f5f5;
    color: #000;
}


.fform-messages {
    margin-top: -0.9em;
    margin-bottom: 0.9em;
}

.fform-wrapper {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.fform-message-priority-0 {
    color: #e60900;
}

.fform-message-priority-1 {
    color: #ec8401;
}

.fform-message-priority-2 {
    color: #00bd04;
}

