
.wrapper, .layout, .body, .array-item, .radio, .flex {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    align-items: stretch;
}

.required:after {
    content: " *";
}

.title-container {
    width: 100%;
}

.title-viewer {
}

.title-viewer:after {
    content: "";
}

.wrapper {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.viewer {
    margin-right: 1em;
    font-weight: bold;
}

.hidden, .button-viewer {
    display: none;
}

.inline {
    flex-direction: row;
}

.shrink {
    flex-grow: 0;
}

.title, .radio-label {
    margin-right: 1em;
}


.add-button {
    margin-left: 1em;
}
