input, textarea, select, button, html, body {
    font-size: 16px
}

button {
    background: #fff;
    color: #888;
    border: 1px solid #ccc;
    border-radius: .2em;
    padding: 0.3em 0.8em;
    flex-grow: 1;
}

button:disabled {
    background: #fff;
    color: #c0c0c0;
    cursor: not-allowed;
}

button:hover {
    background: #f5f5f5;
    color: #000;
}

.wrapper, .layout, .body, .array-item, .radio, .flex {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    align-items: stretch;
}

.required:after {
    content: " *";
}

.title-container {
    width: 100%;
}

.title-viewer {
    margin-bottom: 0;
}

.title-viewer:after {
    content: "";
}

.title-viewer-inverted {
    font-weight: bold;
    margin-bottom: 0;
}

.wrapper {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.viewer {
    margin-right: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.viewer-inverted {
    margin-right: 1em;
    font-weight: normal;
    margin-bottom: 1.5em;
}

.hidden, .button-viewer {
    display: none;
}

.inline {
    flex-direction: row;
}

.shrink {
    flex-grow: 0;
}

.expand {
    flex-grow: 10;
}

.title, .radio-label {
    margin-right: 1em;
}


.add-button {
    margin-left: 1em;
}

.messages {
    margin-top: -0.9em;
    margin-bottom: 0.9em;
}

.priority_0 {
    color: #e60900;
}