
.wrapper, .layout, .body, .array-item, .flex {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    align-items: stretch;
}

.hidden {
    display: none;
}

.flex-row {
    flex-direction: row;
}

.array-menu {
    margin-left: 1em;
}

button {
    background: #fff;
    color: #888;
    border: 1px solid #ccc;
    border-radius: .2em;
    padding: 0.3em 0.8em;
}

button:disabled {
    background: #fff;
    color: #c0c0c0;
    cursor: not-allowed;
}

button:hover {
    background: #f5f5f5;
    color: #000;
}
